{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_hospital_homepage.css' %}">

    <title> 🛡 DNI - Donor Alliance Center </title>
</head>
<body id="body">
  <header class="zone blue">
    <div class="nav-bar">
        <p id="company_name" class="push_this_left">
            <a href="{% url 'home' %}">We Donate</a>
        </p>
    </div>
  </header>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#appointment_approvals">Appointments</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#donation_approvals">Donations</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#search_donation">Search</a></li>
    <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="tab" href="#update_profile">Update Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'hospital-logout' %}">Log Out</a>
        </div>
    </li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane active">
        <div class="flex_container">
            <div class="top summary">
                <h3>Summary of Action Items</h3>
            </div>
            <div class="card_container top details-grid-container">
                <div class="card text-white bg-primary mb-3 details-grid-item2" style="max-width: 18rem;" id="appointDiv">
                    <div class="card-header bg-light mb-3 text-dark">Pending Appointments</div>
                    <div class="card-body">
                        <p class="card-text">You have <strong id="appointmentCount"></strong> appointments pending approval.</p>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3 details-grid-item2" style="max-width: 18rem;" id="donationsDiv">
                    <div class="card-header bg-light mb-3 text-dark">Pending Donations</div>
                    <div class="card-body">
                        <p class="card-text">You have <strong id="donationCount"></strong> donations pending approval.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="appointment_approvals" class="tab-pane fade">
        <div class="container top">
            <h3>Pending Appointments</h3>
            <table class="table table-bordered" id="appointmentTable">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Appointment ID</th>
                        <th>Donor</th>
                        <th>Organ</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody id="appointmentsTableBody"></tbody>
            </table>
            <div>
                <button id="appointmentDtls" class="btn btn-info">Details</button>
                <button id="appointmentApprv" class="btn btn-success">Approve</button>
                <button id="appointmentDeny" class="btn btn-danger">Deny</button>
            </div>
        </div>
    </div>
    <div id="donation_approvals" class="tab-pane fade">
        <div class="container top">
            <h3>Pending Donations</h3>
            <table class="table table-bordered" id="donationTable">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Donation ID</th>
                        <th>Donor</th>
                        <th>Organ</th>
                        <th>Blood Group</th>
                    </tr>
                </thead>
                <tbody id="donationTableBody"></tbody>
            </table>
            <div>
                <button id="donationDtls" class="btn btn-info">Details</button>
                <button id="donationApprv" class="btn btn-success">Approve</button>
                <button id="donationDeny" class="btn btn-danger">Deny</button>
            </div>
        </div>
    </div>
    <div id="search_donation" class="tab-pane fade">
        <div class="container top">
            <input type="text" class="form-control mb-2" id="searchInput" placeholder="Search by Organ / Donor / Donation ID / Blood Group">
            <button id="search_btn" class="btn btn-primary mb-3">Search</button>
            <h5>Search Results:</h5>
            <table class="table table-bordered" id="donationSearchTable">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Donation ID</th>
                        <th>Donor</th>
                        <th>Organ</th>
                        <th>Blood Group</th>
                    </tr>
                </thead>
                <tbody id="searchTableBody"></tbody>
            </table>
            <button id="searchDtls" class="btn btn-info">Details</button>
            <button id="searchEmail" class="btn btn-secondary">Email Donor</button>
        </div>
    </div>
    <div id="update_profile" class="tab-pane fade">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Profile</h5>
                            <button class="btn btn-warning btn-sm" onclick="enableedituserprofile();">Edit</button>
                        </div>
                        <div class="card-body">
                            <form id="updateDetailsForm">
                                <div class="form-group">
                                    <label>Hospital Name</label>
                                    <input 
                                        type="text" 
                                        id="hospitalName" 
                                        class="form-control" disabled>  <!-- Disabled -->
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input 
                                        type="email" 
                                        id="emailHospital" 
                                        class="form-control" disabled>  <!-- Disabled -->
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input 
                                        type="text" 
                                        id="city" 
                                        class="form-control" disabled>  <!-- Disabled -->
                                </div>
                                <div class="form-group">
                                    <label>Province</label>
                                    <select id="input-province" class="form-control" disabled>
                                        <option>Nova Scotia</option>
                                        <option>Ontario</option>
                                        <!-- More options to be added... -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Contact Number (+254)</label>
                                    <input 
                                        type="text" 
                                        id="hospitalContact" 
                                        class="form-control" 
                                        maxlength="10" 
                                        minlength="10" disabled>  <!-- Disabled -->
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <select id="input-country" class="form-control" disabled>
                                        <option selected>Canada</option>
                                        <!-- More options to be added... -->
                                    </select>
                                </div>
                                <button type="submit" id="submitUpdateProf" class="btn btn-primary" disabled>Update</button>  <!-- Disabled -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Password</h5>
                            <button class="btn btn-warning btn-sm" onclick="enableeditpasswords();">Edit</button>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input 
                                        type="password" 
                                        id="password1" 
                                        class="form-control" disabled>  <!-- Disabled -->
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input 
                                        type="password" 
                                        id="password2" 
                                        class="form-control" disabled>  <!-- Disabled -->  
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input 
                                        type="password" 
                                        id="password3" 
                                        class="form-control" 
                                        oninput="checkpassword();" disabled>  <!-- Disabled -->
                                </div>
                                <div class="form-group">
                                    <span id="password-validation-msg"></span>
                                </div>
                                <button type="submit" id="update-password" class="btn btn-primary" disabled>Update</button>  <!-- Disabled -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Js scripts links -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
