
<!--     Just a practice template.   Ignore it     -->

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border: 3px solid black;
            border-collapse: collapse;
            background-color: red; /* Makes the table red */
        }
        th, td {
            border: 3px solid black; /* Adds border thickness */
            padding: 10px; /* Adds space inside cells */
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td rowspan="5"><pre>Computing           and <br>Information Department</pre></td>
            <tr>
                <th colspan="2">Course Offered</th>
                <tr>
                    <td>DIT</td>
                    <td>DMC</td>
                </tr>
                <tr>
                    <th>Units</th>
                    <th>Units</th>
                </tr>
                <tr>
                    <td>
                        1. Computer Application<br>
                        2. Programming
                    </td>
                    <td>
                        - Printing<br>
                        - Communication
                    </td>
                </tr>

            </tr>  <!--course offered end-->

        </tr> <!--copmpt & IT end-->
    </table>
</body>
</html>
